  * {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  display: grid;
  grid-template-areas:
            "header header header"
            "left main right"
            "footer footer footer";
  grid-template-columns: 15% minmax(200px, 70%) 15%;
  /* grid-template-columns: 15% minmax(200px, 2560px) 15%; */
  /* grid-template-rows: 60px auto 1fr 60px;  */
  grid-template-rows: 60px auto 60px; 
  
}

header {
  grid-area: header;
}
left {
  grid-area: left;
  background-color: #84ECEF;
  overflow: hidden;
}
right {
  grid-area: right;
  display: grid;
  background-color: #FDC018;
  
  /* width: 150px; */
}
.news {
  overflow: hidden;
}
main {
  grid-area: main;
  background-image: linear-gradient(45deg, #84ECEF 10%, #F8F62F 60%, #FDC018);
}

footer {
  grid-area: footer;
}


/*----------header----------------*/
header {
  display: grid;
  background: #ffdb58;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 60px;
}
header nav {
	display: grid;
  /* grid-template-columns: 1fr 8fr 2fr;  */
  grid-template-columns: minmax(120px, 125px) 8fr minmax(150px, 250px); 
  align-items: center; /* выравнивание по вертекале */
}
header ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* повтор три раза */
	font-size: 1.5em;
	height: 100%; /* чтобы вся высота */
}
header li {
  display: grid;
  height: 100%;
  width: 100%;
	justify-items: center; /*выравнивание по горизонтале */
  align-items: center; /*выравнивание по вертикале */	
}
header li:hover {
	background: greenyellow;
}
header a {
	color: black;
	text-transform: uppercase;
}
header form {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 5px; /* отступ между колонками */
}
#logo {
	display: block;
	height: 100%;
	background-image: url("../image/logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

/* ------------------------------------------------------------------------------------ */
main {
  display: grid;
  margin: 0;
  padding: 0;
}
main h1 {
  margin: 7px auto;
  text-align: center;
}
.product-box {
    display: grid;
    /* margin: auto; */
    grid-template-columns: repeat(3, 1fr);
    /* gap: 5px; отступ между колонками */
    /* width: 50%;  */
    /* justify-content: center; */
    /* height: 25vh; */
  }

.product:hover {
    background-color: #fcdd76;
    cursor: pointer;
}

.product {
  width: 90%; 
  height: auto;
  border: 2px solid;
  border-radius: 15px;
  margin: 0 auto;
  /* padding: 10px; */
  font-weight: bold;
  font-size: 120%;
  background:#a0a000;
} 
.product p{
  text-align: center;
}
.product-in-cart {
  /* width: 140px;
  height: 180px; */
  width: 15%;
  height: auto;
  border: 2px solid;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 100%;
  background-color: transparent;
}

.product img {
    max-width: 70%;
    height: auto;
    border: 1px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.img-box {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.img-box img{
  /* max-width: 135px; */
  max-width: 85%;
  height: auto;
}
/* .cart-box img{
  max-width: 135px;
  max-width: 85%;
  height: auto;
} */

  #cart-box {
    display: grid;
    width: 100%; 
    /* height: 100%; */
    /* width: 1000px;
    height: 350px; */
    /* border: 2px solid;
    border-radius: 7px; */
    margin: 0;
    padding: 0;
    /* font-size: 100%; */
    height: 75vh;/*vh относительно высоты окна браузера, если окно 900px, то 1vh 9px; vw ширина окна*/
  }

  #cart {
    border: 1px dashed;
    border-radius: 7px;
    width: 99.8%;
    height: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  
/*-----footer------------------------------------------------------*/
  /* #button-box {
    flex: 1;
    display: flex;
    align-items: center;
  } */
  button {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    font-size: 100%;
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
  }
  button:hover{
    background-color:  rgb(152,15,0);
    cursor: pointer;
  }
  #budget {
    border: 2px solid;
    /* width: 150px; */
    padding: 3px;
    margin-left: 3px;
  }
  label{
    font-weight: bold;
    font-size: 120%;
  }
  #total-box {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  #total {
    /* border-bottom: 1px solid; */
    font-weight: bold;
    font-size: 120%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  footer {
    display: grid;
    position: fixed;
    left: 0; 
    bottom: 0;
    height: 60px; 
    width: 100%;
    background-color:#ffdb58;
  }
  footer nav {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center; /*выравнивание по вертикали*/
    justify-items: center; /*выравнивание по горизонтали*/
  } 

  /*--------------Адаптив--------------*/

  @media screen and (min-width: 701px) and (max-width: 899px){
    ul.menu :nth-child(3){
      display: none;
    }
    header ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* повтор два раза */
      font-size: 1.5em;
      height: 100%; /* чтобы вся высота */
    }

  }
  @media screen  and (min-width: 551px) and (max-width: 700px){
    ul.menu :nth-child(3){
      display: none;
    }
    ul.menu :nth-child(2){
      display: none;
    }
    header ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* повтор один раз */
      font-size: 1.5em;
      height: 100%; /* чтобы вся высота */
    }
  }

  @media screen and (max-width: 550px){
    ul.menu li {
      display:none;
    }
    header form :last-child{
      display: none;
    }
    header form {
      display: grid;
      grid-template-columns: 2fr;
      justify-items: end; /*выравнивание по горизонтале */
      align-items: center; /*выравнивание по вертикале */	
    }
    #footer_label{
      display: none;
    }
    footer nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center; /*выравнивание по вертикали*/
      justify-items: center; /*выравнивание по горизонтали*/
    } 

    .product-in-cart-box :nth-child(odd) {
        display: none;
    }
    .product-in-cart-box  {
      text-align: center;
  }
    #product-title {
      display: none;
    }
    #cart {
      border: 1px dashed;
      border-radius: 7px;
      width: 99.5%;
      height: 99%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      padding: 0;
    }
  }

 
